.member {
  @include breakpoint($mobile) {
    @include span-columns(1);
  }
  @include span-columns(3);
  margin-bottom: $gutter;
}

.member:nth-child(4n+4) {
  margin-right: 0;
}


$parallax-window-height: 40em;
$parallax-background-height: $parallax-window-height;


@include breakpoint($desktop) {
  .parallax-window {
    max-height: $parallax-window-height;
    height: $parallax-window-height;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: $gutter;
    margin-bottom: $gutter;

  }
}

@include breakpoint($mobile) {
  .parallax-window {
    max-height: $parallax-window-height;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

  }
}

.parallax-static-content {
  margin-top: $parallax-window-height / 3;
  color: #9A9A8A;
  position: relative;
  z-index: 9;

  h1 {
    padding-bottom: 18px;
    font-size: 7em;
    font-family: $serif-heading;
    background-color: rgba(20, 20, 20, 0.3);
    font-weight: 900;
    //font-style: italic;
    color: rgba(255, 255, 255, 0.9);
  }
}

// Mobile
@include breakpoint($mobile) {
  .parallax-static-content {
    margin-top: 0;
    padding-top: 200px;
    padding-bottom: 300px;
    height: 100px;
    background-color: rgba(20, 20, 20, 0.7);
    color: #9A9A8A;
    position: relative;
    z-index: 9;

    h1 {
      padding-bottom: 8px;
      font-size: 5rem;
      font-family: $serif-heading;
      background-color: rgba(20, 20, 20, 0.0);
      font-weight: 900;
      //font-style: italic;
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.parallax-background {
  background: url("parallax.jpg");
  background-size: cover;
  background-color: beige;
  background-position: top;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

@include breakpoint($mobile) {
  .parallax-background {
    background: url("parallax.jpg");
    background-size: cover;
    background-color: beige;
    background-position: top;
    left: 0;
    position: absolute;
    top: - $parallax-window-height / 3;
    width: 100%;
  }
}

// Based on http://codepen.io/skeurentjes/

.member-info {
  thumb-picture {
    img {
      border-radius: 50%;
      height: 300px;
      width: 300px;
      margin-bottom: $gutter ;
    }
  }

  h1 {
    font-size: 4em;
    font-family: $serif-heading;
    margin-bottom: $gutter / 3;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
  }
  p {
    font-size: 1em;
    font-weight: 200;
  }
  @include outer-container;
  text-align: center;
}

.hover-tile-outer {
  border: 0;
}

