<h1>Editing event</h1>
</br>
<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden">Click for NOTES</a>
  <div id="js-expander-content" class="expander-content">
    <h5>For concerts:</h5>
    <ul>
      <li>
        Category should be something like "Valentines Show", "Big Show", etc.
      </li>
      <li>
        Do not fill in Ticket description (obviously).
      </li>
    </ul>
    <h5>For auditions:</h5>
    <ul>
      <li>
        Use the category "Auditions" - this is the only way to get rid of the 'Tickets' button and to enable the Facebook link.
      </li>
      <li>
        Do not fill in Ticket description (obviously).
      </li>
      <li>
        For the link, use the link to the Facebook event.
      </li>
    </ul>
  </div>
</div>


<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>

