<div class="image-gradient-dynamic">
  <%= image_tag "top_photo.jpg" %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>The</h2>
    <h1>Spartan Dischords</h1>
  </div>
</div>

<head>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>

<article class="type-system-geometric">
  <h1><%= @events.first.title %></h1>
  <p><%= @events.first.description %>
</p>
</article>


<%= link_to 'New Event', new_event_path %>
