<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag "logos/shield-2.png" %></a>
    <div class="hero-copy">
      <h1>We should totally hang out.</h1>
      <p>We are all really fun at parties, your party if you want. All you gotta do is click the link. Go on, click it.</p>  
    </div>
    <button>Hire Us</button>
  </div>
</div>

