<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag "logos/shield-2.png" %></a>
    <div class="hero-copy">
      <h1>Contact Us</h1>
      <p>The Spartan Dischords perform for all sorts of community, university, and private events.</p>
      <p>For more information regarding booking the Dischords, auditioning for the group, or anything else, follow the button below. Go on, click it!</p>  
    </div>
    <button><a href="mailto:spartandischords@gmail.com">Let's Get In Touch</a></button>
  </div>
</div>

