<h1>History</h1>
<h5>Ye Olde Spartan Discords</h5>
<div class="hipster-bar">
<%= image_tag "logos/barber-bar.png" %>
<%= image_tag "logos/moustache-icon.png" %>
<%= image_tag "logos/barber-bar.png" %>
</div>
