<h1>History</h1>
<h5>Ye Olde Spartan Discords</h5>
<div class="hipster-bar">
  <%= image_tag "logos/barber-bar.png" %>
  <%= image_tag "logos/moustache-icon.png" %>
  <%= image_tag "logos/barber-bar.png" %>
  <p>
  Unknown to the masses, the Michigan State University Men’s Glee Club, or rather The Singing Statesmen, as they were called at the time, died a slow death in the early 70’s. In 1977, MSU hired choral director Paul Schultz to reincarnate them, and boy did he!
  </p>
  <p>
  Schultz hand picked the group, known today as the Spartan Dischords, as a subset of the Statesmen. Dischord repertoire was intended to add contrast to the classical style of The Statesmen. Wharton Center was not yet built, so all Statesmen concerts were held at the Lutheran church on Harrison Road, where Dischords were featured for a few numbers. This is where the public got their first glimpse of the Spartan Dischords.
  </p>
  <p>
  In 1982, Dr. Michelson had taken over the Statesmen. He was extremely encouraging of Dischords, and actually used to accompany the group on piano in the early days on songs like “Grand Ol’ Ivy”, “There is Nothing like a Dame”, “Rubber Ducky”, and “Sweet Violets.”
  </p>
  <p>
  By 1984, the Wharton Center had been built, and the Dischords started doing “Pre-Show” concerts. Though arguably lame by today’s standards, Dischords had the freedom to pull stunts that the Glee Club was too formal to try.
  </p>
  <p>
  Although singing strictly a cappella today, Dischords did not perform exclusively a cappella until 1991. “For the Longest Time” is the very first doo-wop a cappella number ever performed by the Dischords. This early set also included “Let Her Sleep Under the Bar” and “Ragtime Cowboy Joe.”
  </p>
  <p>
  The group was off to a good start, but did not seem to be getting the opportunity to really shine. They were a subset of the Men’s Glee Club; a gimmick that appeared a couple times a semester at club functions, but nothing more. It wasn’t until a core group formed in 1985 that things started to happen.
  </p>
  <p>
  Some of the guys started hanging out outside of clubs, often meeting over at local bar Crunchy’s. It is here that the motto “A Fine Blend of Harmony and Humor” came to be. Without really realizing it, they began having impromptu practices in the courtyard, near Beaumont Tower; pretty much anywhere they could get together. After a while, they decided to try their luck singing for the tailgaters on football Saturdays.
  </p>
  <p>
  With such success singing for tailgaters, Dischords decided to branch out. They sang for everyone from the 4H club in Clare to the National Turf and Grass Association to private Spartans parties and even Michigan State related events across the border in Canada. As word got out and a good reputation spread, they slowly amassed a small amount of funds. During the ’88-’89 school year, they booked and performed over 75 shows and loved almost every one of them. Their first album, on cassette of course, immediately followed in 1990.
  </p>
  <p>
  By 1993, the group started to resemble a small business, and was growing in popularity by singing whenever and wherever they could. With the dream of hosting a concert of their own, Dischords wrote up a charter to become a Registered Student Organization. This helped to fund the rental of the Breslin Auditorium, where their spring concert was to be held.
  </p>
  <p>
  Nervous about getting anyone to attend, they gave concert tickets away for free and started what is known today as “dorm gig,” (singing on girls’ sides of the on-campus dorms) to drum up interest. The concert was a huge success, and the Dischords have put on an annual spring concert ever since.
  </p>
  <p>
  Today, the Spartan Dischords continue to move forward, while still holding sacred most of the group’s long standing traditions. In addition to Accapalooza, which features all of MSU’s a cappella ensembles, the Dischords perform annual Holiday, Valentine’s Day, and Spring concerts to sold out crowds right here at MSU. With an average of 35-50 performances a semester, the Dischords travel wherever duty calls, and continue to spread their music, entertainment, and insanity all over campus, the state, and the world!
  </p>
  <p>
  With music as their backbone and an above-all devotion to entertainment, the Dischords will carry on their tradition for years to come.
  </p>
  We cannot wait to sing for you!
  </p>
</div>
