<div>
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <br />
    <br />
    <%= link_to "Log out.", log_out_path %>
  <% else %>
    D00d, either
    <%= link_to "Sign up,", sign_up_path %>
    or 
    <%= link_to "Log in.", log_in_path %>
  <% end %>
</div>
