
<li class="nav-link"> <%= link_to "Sign Up", sign_up_path %> </li>
<li class="nav-link"> <%= link_to "Log In", log_in_path %> </li>
<li class="nav-link"> <%= link_to "Log Out", log_out_path %> </li>
