.image-gradient-dynamic {
  $image-gradient-color-top: red; 
  $transparency-top: .9;
  $image-gradient-color-bottom: green; 
  $transparency-bottom: .6;
  $vertical-angle: 0deg;

  $image-gradient-color-left: teal; 
  $transparency-left: .8;
  $image-gradient-color-right: yellow; 
  $transparency-right: .8;
  $horizontal-angle: 90deg;

  position: relative;
  line-height: 0;
  width: 100%;
  margin-bottom: $base-line-height;  

  img {
   width: 100%;
   height: auto;
   max-height: 800px;
   position: relative;
   top: 0;
   left: 0; 
  }

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    //z-index: 999;
    text-align: center;
    @include transform(translate(-50%, -50%));

    h1 {
      font-size: 12em;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.8);
      font-family: $serif-heading;
      font-family: $title, cursive;
      line-height: 0.9em;
    }

    h2 {
      font-size: 4em;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.8);
      font-family: $serif-heading;
      font-family: $title, cursive;
    }

    p {
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      color: white;
      font-weight: 800;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
    transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
      transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}


article.type-system-geometric {
  margin-top: $gutter;
  margin-bottom: 2 * $gutter;

  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif-heading;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: .5em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.1em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  code {
    white-space: nowrap;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: $base-border-radius * 1.5;
    padding: .1em .4em;
    font-size: .7em;
    font-style: normal;
  }

  h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-family: $serif;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em;
  }

  p {
    font-family: "Roboto Condensed";
    line-height: 1.5em;
    font-size: 1.05em;
    margin-bottom: 1.5em;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      font-family: $sans-serif;
      font-style: normal;
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $sans-serif;
  }
}

@import "events/show";
@import "events/edit";
