.hipster-bar {
  display: block;
  @include outer-container;
  img {
  }

  #left-bar, #moustache, #right-bar {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #left-bar, #right-bar {
    @include span-columns(5);
  }

  #moustache {
    @include span-columns(2);
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 6em;
    font-family: $title; 
  }
  #right-bar {
    margin-left: 28.2px;
  }
}

.history-header {
  h1, h5 {
    text-align: center;
  }

  h1 {
    font-family: $serif-heading;
    font-size: 4em;
  }
}

.history {
  .hideme, 
  {
    @include outer-container;
    margin: $gutter;
    opacity:0.3;
  }

  .monster, 
  {
    @include outer-container;
    margin: $gutter;
  }

  p {
    background: $off-white;
    font-family: 'Sanchez';
    color: $dark-font;
    padding: $gutter;
    margin: $gutter;
    width: 685px;
    margin: 0 auto;
  }
}

h3 {
  font-family: 'Fugaz One';
  text-align: center;
}
