.hipster-bar {
  display: block;
  @include outer-container;
  img {
  }

  #left-bar, #moustache, #right-bar {
    @include span-columns(4);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.history-header {
  h1, h5 {
    text-align: center;
  }

  h1 {
    font-family: $serif-heading;
    font-size: 4em;
  }
}

.history {
  .hideme, 
  {
    @include outer-container;
    margin: $gutter;
    opacity:0.3;
  }

  .monster, 
  {
    @include outer-container;
    margin: $gutter;
  }

  p {
    background: $off-white;
    font-family: 'Sanchez';
    color: $dark-font;
    padding: $gutter;
    margin: $gutter;
    width: 685px;
    margin: 0 auto;
  }
}

hr {
  @include span-columns(2);
  @include shift(5);
}

h3 {
  font-family: 'Fugaz One';
  text-align: center;
}
