
<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag "logos/shield-2.png" %>
  </div>
    <ul>
      <li>- BWFE DFD -</li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
      </ul>

      <ul class="footer-social">
        <li>
          <%= link_to image_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png"), "https://www.facebook.com/spartandischords" %>
        </li>
        <li>
          <%= link_to image_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png"), "https://twitter.com/sprtndischords" %>
        </li>
        <li>
          <%= link_to image_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png"), "https://www.youtube.com/user/TheSpartanDischords"%>
        </li>
      </ul>
    </div>
</footer>

