<% content_for :hero do %>
<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <br>
    <h1>meet the guys</h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
<% end %>

<div class="admin-link">
<% if current_user %>
  <ul>
  <li class="member-link"> <%= link_to "New Member", new_member_path %> </li>
  </ul>
<% end %>
</div>

<br />

<div class="members">
  <% @members.each do |member| %>
    <div class="hover-tile-outer member">
      <div class="thumb-picture">
        <%=image_tag member.picture_url(:thumb).to_s%>
      </div>
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4> <%=link_to member.name, member%> </h4>
          <% if current_user %>
            <ul>
              <li class="member-link"> <%= link_to "Delete member", member_path(@members.find(member.id)), :method => :delete %> </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

