<div class="member-info">
<h1>
  <%= @member.name %>
</h1>

<div class="portait">
<%= image_tag @member.picture_url(:large).to_s %>
</div>

<p> - <%= @member.position %> - </p>

<h2>
  <strong>Major: </strong><%= @member.major %>
</h2>

</div>
