<div class="member-info">
<h1>
  <%= @member.name %>
</h1>

<%= image_tag @member.picture_url(:full).to_s %>

<p> - <%= @member.position %> - </p>

<h2>
  <strong>Major: </strong><%= @member.major %>
</h2>

</div>
